<div class="mt-4" style="margin-left: 40px">
    <div class="row">

        <div class="col-lg-3">
            <h2>
                Thông tin Server
            </h2>
            <ul>
                <li>
                    Ram : {{server.ram}}
                </li>
                <li>
                    Disk : {{server.disk}}
                </li>
                <li> Pass Word :{{server.password}}</li>
                <li> Trạng thái :{{server.status}}</li>
                <li> Thời gian tạo :{{server.createdAt}}</li>
                <li> Trạng thái xóa:{{server.deleted}}</li>



            </ul>
        </div>

        <div class="col-lg-9">
            <h2>{{server.name}}</h2>
            <iframe width="560" height="315" src="https://freepngimg.com/thumb/server/36301-1-server-hd.png"></iframe>
        </div>

    </div>